.App {
    font-family: Arial, sans-serif;
    background-color: #fdf5e6;
    color: #333;
    padding: 20px;
    text-align: center;
  }
  
  .App-header {
    background-color: #ffcc80;
    padding: 20px;
    border-radius: 10px;
  }
  
  